/* Miscellaneous */

* {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0.75em;
    margin-top: 0;
}

p.rubric {
    font-size: var(--font-size--small);
    font-weight: 500;
    margin-bottom: 0.25em;
    text-transform: uppercase;
}

/* Citations */

dl.citation {
    display: grid;
    grid-gap: 0.75em;
    grid-template-columns: auto auto;
    margin: 0 0 0.75em 0.75em;
}

dl.citation > dt {
    color: inherit !important;
}

dl.citation > dt > span.brackets:not(:last-child) {
    margin-right: 0.5em;
}

dl.citation > dd {
    margin-left: 0 !important;
}

dl.citation > dd > :first-child {
    margin-top: 0 !important;
}

dl.citation > dd > :last-child {
    margin-bottom: 0 !important;
}

/* Code */

div.highlight {
    background: var(--color-api-background) !important;
}

.highlight span, code.literal {
    background: none !important;
    border: none !important;
    font-size: inherit;
    font-weight: normal !important;
    padding: 0;
    text-decoration: none !important;
}

/* Lists */

dl.field-list > dd strong {
    font-family: var(--font-stack--monospace);
}

/* Math */

div.math-wrapper {
    overflow-x: unset;
    overflow-y: auto;
}

mjx-container[display="true"] {
    margin: 0 0 0.75em 0 !important;
}

/* Sidebar */

div.sidebar-tree .toctree-l1:not(.current) > .reference.internal,
div.sidebar-tree .toctree-l1 > label .icon {
    color: var(--color-sidebar-link-text);
}

/* Signature */

dl.py > dt.sig > a.headerlink {
    margin-right: 2em;
}

dl.py > dt.sig > a.reference {
    float: right;
    text-indent: 0;
    width: 0;
}

dl.py > dt.sig > a.reference > span.viewcode-link {
    width: unset;
}

/* Table */

div.table-wrapper {
    margin: 0;
    padding: 0;
}

table.docutils {
    background: var(--color-api-background);
    border-radius: 0.25em;
    box-shadow: none;
    width: 100%;
}

table.docutils td {
    border: none;
}
