/* Miscellaneous */

a {
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

p.rubric {
    font-size: inherit;
    font-weight: inherit;
    margin-top: 0.75em;
    margin-bottom: 0.25em;
}

/* Citations */

dl.citation {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 1em;
}

dl.citation > dt {
    color: inherit !important;
}

dl.citation > dt > span.brackets:not(:last-child) {
    margin-right: 0.5em;
}

dl.citation > dd {
    margin-left: 0 !important;
}

dl.citation > dd > :first-child {
    margin-top: 0 !important;
}

dl.citation > dd > :last-child {
    margin-bottom: 0 !important;
}

/* Code */

div.doctest {
    margin-top: 0;
}

div.highlight {
    background: var(--color-api-background) !important;
}

.highlight span, code.literal {
    background: none !important;
    border: none !important;
    font-size: inherit;
    padding: 0;
    text-decoration: none !important;
}

.highlight span.mi {
    font-weight: bold;
}

/* Lists */

dl.field-list > dt {
    font-size: inherit !important;
    font-weight: inherit;
}

dl.field-list > dd strong {
    font-family: var(--font-stack--monospace);;
    font-weight: bold;
}

dl.field-list ul {
    list-style-type: none;
}

/* Math */

mjx-container[display="true"] {
    margin: 0.5em !important;
}

/* Sidebar */

div.sidebar-tree .toctree-l1:not(.current) > .reference.internal,
div.sidebar-tree .toctree-l1 > label .icon {
    color: var(--color-sidebar-link-text);
}

/* Signature */

dl.py {
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
}

dl.py > dt.sig {
    padding-right: 2.5em;
}

dl.py > dt.sig > a.reference > span.viewcode-link {
    margin-right: -2em;
}

/* Table */

div.table-wrapper {
    margin: 0;
    padding: 0;
}

table.docutils {
    background: var(--color-api-background);
    border-radius: 0.25em;
    box-shadow: none;
    width: 100%;
}

table.docutils td {
    border: none;
}
